body {
  font-family: "Gill Sans W01 Light";
  font-size: 1.15em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";

  width: 600px;
  margin-left:auto;
  margin-right:auto;
  padding: 0 10px 0 10px;
  color: #000;

  text-align: justify;
}

code {
  font-family: courier;
  font-size: 0.77em;
  background-color: #eee;
  padding: 1px 3px;
}

a {
  color:#444;
}

a:visited {
  color:#444;
}

a:hover {
  text-decoration:none;
  border:none;
}

h1 {
  font-size:2.8em;
  font-weight:normal;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:0;
  margin-bottom:-1px;
}

h2 {
  font-size: 1.4em;
  font-weight:normal;
  margin: 0 0 15px -1.5px;
  padding: 0;
  text-align: left;
}

h3 {
  font-size: 1.3em;
  font-weight:normal;
  margin-top:16px;
  margin-bottom:14px;
}

h4 {
  font-size: 1.2em;
  font-weight:normal;
  margin-top:16px;
  margin-bottom:16px;
}

p {
  margin:0 0 15px 0;
  line-height: 1.20em;
}

hr {
  color: #aaa;
  background-color:#aaa;
  height:1px;
  border:0;
}

pre {
  font-size: 0.8em;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding-left:-50px;
  margin-top:20px;
  margin-bottom:15px;
  padding: 1.1em 0;
  overflow: scroll;
  font-family: courier;
  color: #333;
}

pre .output {
  color: #777;
}

pre .prompt {
  color: #00f;
}

ul {
  padding-left: 25px;
}

li {
  padding: 2px 0;
}

.tagline {
  margin-left: auto;
  margin-right: auto;
  width: 235px;
}

.footer {
  text-align: center;
  width:327px;
  margin-left: auto;
  margin-right: auto;
}

@media handheld, only screen and (max-width: 767px) {
  body {
    font-family: "Gill Sans W01 Book";
    width: 350px;
    font-size: 1.25em;
  }

  #fork-me {
    display: none;
  }
}
